name: Laravel

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  laravel-tests:

    runs-on: ubuntu-latest

    steps:
      - uses: shivammathur/setup-php@15c43e89cdef867065b0213be354c2841860869e
        with:
          php-version: '7.4'
      - uses: actions/checkout@v3
      - name: Install Dependencies
        run: npm install
      - name: Build Production
        run: |
          npm run prod
          echo "NPM Production Build Result" >> build_result.txt
          echo "$(git status)" >> build_result.txt
          git add build_result.txt
          git commit --amend --no-edit
          git push --force
